header{
    /* width: 100% !important; */
    background-color: #1C2039;
}

.header{
    position: fixed;
    width: 100%;
}

.header__logo {

}

.header__logo img {
    border-radius: 10px;
}

.header__logo span {
    color: aliceblue;
    font-weight: 600;
    font-size: 20px;
}

.header__menu ul li {
    font-weight: 500;
}

.header__menu ul li a {
    color: #b2b2b2;
}

.header__menu ul li a:hover {
    color: #fff;
}

.header__menu .active{
    color: #fff !important; 
}

.header__wallet{
    color: #fff;
}

.header__wallet span{
    margin-right: 5px;
}

.header__wallet a {
    font-family: 'Roboto Condensed', sans-serif;
    border: 2px solid #fff;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    transition: 1.5s;
    font-weight: 600;
}

.header__wallet a:hover{
    /* color: #000;
    background-color: #fff;
    transition: 0.7s; */
}