/* Common  */
.font__condensed {
    font-family: 'Roboto Condensed', sans-serif;
}
.btn-boder {
    color: #fff !important;
    border-color: #fff !important;
}

.btn-boder:hover{
    color: #fff;
    background-color: #0d6efd;
}
